
extends ../layout

block scriptfile
    script(src="/CesiumUnminified/Cesium.js")
    link(rel='stylesheet', href='/CesiumUnminified/Widgets/widgets.css')
    style.
        html {
            height: 100%;
        }
        body {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }
        #cesiumViewer {
            width: 100%;
            height: 100%;
        }
        .cesium-credit-logoContainer, .cesium-credit-textContainer {
            display: none;
        }

block content
    #cesiumViewer

