extend layout

block content
    ul
        li
            a(href="/examples/cesium/base") Base
        li
            a(href="/examples/cesium/move") Move Model
        li
            a(href="/examples/cesium/clipping") Clipping Plane
        li
            a(href="/examples/cesium/camera") Camera Operator
        li
            a(href="/examples/cesium/pick") Pick Object
        li
            a(href="/examples/cesium/measure") Measure Something
        li
            a(href="/examples/cesium/loadmore") Load More
        