doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/reload/reload.js')
    block scriptfile
    block style
  body
    block content

    block script