extends layout

block scriptfile
    script(src="/javascripts/lib/xeogl.js")
    script(src="/javascripts/lib/glTFModel.js")

block content

block script
    script(src="/javascripts/myXeogl.js")